
<div class="navbar-wagon">

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "http://res.cloudinary.com/dr4xmxoal/image/upload/v1488983457/Logomakr_1rheOa_wocasl.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <!-- Different navigation if logged in -->
    <% if user_signed_in? %>

      <p class="hidden-xs hidden-sm" style = "color: #fff; margin: 0px;">Bem Vindo, <%= current_user.first_name  %></p>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item hidden-xs hidden-sm">
        <div class="dropdown">

          <% if current_user.facebook_picture_url.present? %>
            <%= image_tag current_user.facebook_picture_url, class: "avatar-2 dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
            <%= image_tag "https://lh5.googleusercontent.com/--2sVkryzTvA/AAAAAAAAAAI/AAAAAAAAKCs/mTqnGU1BQcA/s0-c-k-no-ns/photo.jpg", class: "avatar-2 dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

            <% if current_user.type == "Manager" %>
              <li>
                <%= link_to t(".top_call_to_action", default: "Manager Home"), partner_side_path, class: "navbar-wagon-item" %>
              </li>
              <li>
                <%= link_to t(".top_call_to_action", default: "Meus Produtos"), products_path, class: "navbar-wagon-item" %>
              </li>
            <% else %>
              <li>
                <%= link_to t(".top_call_to_action", default: "Minhas Ordens"), orders_path, class: "navbar-wagon-item"%>
              </li>
            <% end %>

            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Editar Perfil") %>
              <% end %>
            </li>

            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Logout") %>
              <% end %>
            </li>

          </ul>

        </div>
      </div>

      <!-- Dropdown list appearing on mobile only -->
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

            <% if current_user.type == "Manager" %>
              <li>
                <%= link_to t(".top_call_to_action", default: "Manager Home"), partner_side_path, class: "navbar-wagon-item" %>
              </li>
              <li>
                <%= link_to t(".top_call_to_action", default: "Meus Produtos"), products_path, class: "navbar-wagon-item" %>
              </li>
            <% else %>
              <li>
                <%= link_to t(".top_call_to_action", default: "Minhas Ordens"), orders_path, class: "navbar-wagon-item"%>
              </li>
            <% end %>

            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Editar Perfil") %>
              <% end %>
            </li>

            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Logout") %>
              <% end %>
            </li>

          </ul>

        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <div class="navbar-wagon-item hidden-xs hidden-sm">
        <%= link_to t(".sign_in", default: "LOG IN"), new_user_session_path %>
      </div>

      <!-- Mobile dropdown -->
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "LOG IN") %>
              <% end %>
            </li>
          </ul>

        </div>
      </div>

    <% end %>

  </div>

</div>


