



<%= simple_form_for [@order, @order_detail] do |f| %>
  <div id="order-details" >
  <%= f.input :product, collection: @products %>
  <%= f.input :quantity %>
  </div>
  <%= f.button :submit %>
<% end %>



<%= content_for :add_product do %>
  <script>
    $(document).ready(
      $('.add-product').on('click', function(e) {
      // append input control at end of form
      // na sorte, escape javascript saved me
      $("<%= j select_tag(:product, options_from_collection_for_select(@products, "id", "name"), prompt: "Selecione um produto", class: 'btn btn-primary btn-lg') %><%= j select_tag(:quantity, options_for_select(1..5), prompt: "Quantidade", class: 'btn btn-primary btn-lg') %>").appendTo("#order-details");
    }));
  </script>
<% end %>
