

<%= form_tag("seat_n_basket", method: "get") do %>
  <div id="order-details" >
    <%= select_tag(:product, options_from_collection_for_select(@products, "id", "name"), prompt: "Selecione um produto", class: 'btn btn-primary btn-lg') %><%= select_tag(:quantity, options_for_select(1..5), prompt: "Quantidade", class: 'btn btn-primary btn-lg') %>
  </div>
  <i class="fa fa-plus-circle fa-2x add-product" aria-hidden="true"></i>
  <%= submit_tag 'Fechar pedido', class: 'btn btn-primary' %>
<%end%>






<%= content_for :add_product do %>
  <script>
    $(document).ready(
      $('.add-product').on('click', function(e) {
      // append input control at end of form
      // na sorte, escape javascript saved me
      $("<%= j select_tag(:product, options_from_collection_for_select(@products, "id", "name"), prompt: "Selecione um produto", class: 'btn btn-primary btn-lg') %><%= j select_tag(:quantity, options_for_select(1..5), prompt: "Quantidade", class: 'btn btn-primary btn-lg') %>").appendTo("#order-details");
    }));
  </script>
<% end %>
