<!-- Page where the products from a given section is displayed and where the customer selects the products, specifies seat info and finally creates the order -->


<div class="container">

  <!-- Shopping kart with order details -->
  <div style="margin-top: 20px;" class="hidden-panel panel panel-success">
    <div class="panel-heading">
      <p>Carrinho</p>
    </div>
    <div class="panel-body">

      <!-- The table is created empty and products are inserted as they are selected using javascript -->
      <!-- This has no controller implication, is just for the customer to check -->
      <table class="table" id="table-products">
        <thead>
          <th class="text-center">Qtd</th>
          <th class="text-center">Produto</th>
          <th class="text-center">Preço Unitário</th>
          <th class="text-center">Preço Total</th>
        </thead>
        <tbody class='text-center'>
        </tbody>
      </table>
    </div>
  </div>

  <!-- New order form -->
  <%= simple_form_for @order do |f| %>

    <!-- The order is associated with a customer profile, which has all the seat and customer info, by using fields of a form -->
    <div class="row">
      <div class="text-center col-xs-4 col-xs-offset-4">
        <div id="form-seat">
          <%= f.simple_fields_for :customer_profile do |od| %>
            <%= od.association :section, as: :hidden, input_html: { value: @section.id } %>
            <%= od.association :customer, as: :hidden, input_html: { value: current_user.id } %>
            <%= od.input :seat_info_1, label: 'Fileira' %>
            <%= od.input :seat_info_2, label: 'Cadeira' %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Fields containing products separated by beverages and food -->
    <!-- These fields will create order details along with the order once it is confirmed -->
    <div class="row text-center" style="margin: 20% 0 20% 0;">

      <!-- Fields for food -->
      <div class="col-xs-12 col-md-6 col-sm-6">
        <%= cl_image_tag("hot-dog_g6lflg.png", id: 'food' , class: 'food-beverage') %>
        <ul class="list-inline" style="margin-top: 30px;">
          <% count = 0 %>
          <% @foods.each do |food| %>
            <li class="input-product subfood text-center">
              <p><%= food.name %></p>
              <%= f.simple_fields_for :order_details do |od| %>
                <%= od.association :product, as: :hidden, input_html: { value: food.id }%>
                <div class="glyphicon glyphicon-minus" id="btn-down_<%= count %>"></div>
                <%= cl_image_tag(food.photo, :width=>50, :height=>50) %>
                <%= od.input_field :quantity, as: :string, label: false, label: false, readonly: true, class: 'input-move input-quantity text-center'  %>
                <div class="glyphicon glyphicon-plus" id="btn-up_<%= count %>"></div>
              <% end %>
              <h5 style="color: #000;" id="food-price"><%= humanized_money_with_symbol(food.price) %></h5>
            </li>
            <% count += 1 %>
          <% end %>
        </ul>
      </div>

      <!-- Fields for beverages -->
      <div class="col-xs-12 col-md-6 col-sm-6">
        <%= cl_image_tag("beer_ohpxni.png", id: 'beverage', class: 'food-beverage') %>
        <ul class="list-inline" style="margin-top: 30px;">
          <% @beverages.each do |beverage| %>
            <li class="input-product subbeverage text-center">
              <p><%= beverage.name %></p>
              <%= f.simple_fields_for :order_details do |od| %>
                <%= od.association :product, as: :hidden, input_html: { value: beverage.id }%>
                <div class="glyphicon glyphicon-minus" id="btn-down_<%= count %>"></div>
                <%= cl_image_tag(beverage.photo,:width=>50, :height=>50) %>
                <%= od.input_field :quantity, as: :string, label: false, readonly: true, class: 'input-move input-quantity text-center' %>
                <div class="glyphicon glyphicon-plus" id="btn-up_<%= count %>"></div>
              <% end %>
              <h5 style="color: #000;" id="bev-price"><%= humanized_money_with_symbol(beverage.price) %></h5>
            </li>
            <% count += 1 %>
          <% end %>
        </ul>
      </div>

    </div>

    <!-- Landing view for the products selection page. All the views above are generated using javascript -->
    <div class="row" id="buy-row" style="margin: 10px;">
      <div class="col-xs-4 text-left">
        <%= cl_image_tag('hot-dog_g6lflg.png',  :width=>60, :height=>60, :gravity=>'center', :crop=>'fill' , id: 'buyfood') %>
        <%= cl_image_tag('beer_ohpxni.png',  :width=>60, :height=>60, :gravity=>'center', :crop=>'fill' , id: 'buybev') %>
      </div>
      <div class="col-xs-4 col-xs-offset-4 text-right">
        <%= cl_image_tag('shopping-cart_dlwb4c.png',  :width=>60, :height=>60, :gravity=>'center', :crop=>'fill' , id: 'basket') %>

        <!-- Submit button to create the order along with the customer profile and the order details -->
        <%= f.submit :submit, :type => :image, :src => "http://res.cloudinary.com/dr4xmxoal/image/upload/w_60,h_60,c_fill,g_center/like_mg2lbn.png", id: 'basket-ok', class: "" %>
      </div>
    </div>
  <% end %>
</div>
