
<div class="container">
  <div style="margin-top: 20px;" class="hidden-panel panel panel-success">
    <!-- Default panel contents -->
    <div class="panel-heading">Carrinho</div>
    <div class="panel-body">
      <table class = "table">
        <thead>
          <th>Qtde </th>
          <th>Produto</th>
          <th>Preço Unitario</th>
          <th>Preço Total </th>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class=" text-center col-xs-4 col-xs-offset-4">
      <%= simple_form_for @order do |f| %>
      <div id="form-seat">
        <%= f.simple_fields_for :customer_profile do |od| %>
          <%= od.association :section, as: :hidden, input_html: { value: @section.id } %>
          <%= od.association :customer, as: :hidden, input_html: { value: current_user.id } %>
          <%= od.input :seat_info_1, label: 'Fileira' %>
          <%= od.input :seat_info_2, label: 'Cadeira' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row text-center" style="margin: 20% 0 20% 0;">
    <div class="col-xs-12 col-md-6 col-sm-6">
      <%= cl_image_tag("hot-dog_g6lflg.png", id: 'food' , class: 'food-beverage') %>
      <ul class="list-inline" style="margin-top: 30px;">
        <% count = 0 %>
        <% @foods.each do |food| %>
          <li class="input-product subfood text-center">
            <!-- <div class="col-xs-offset-3 col-xs-6"> -->
          <%= f.simple_fields_for :order_details do |od| %>
            <%= od.association :product, as: :hidden, input_html: { value: food.id }%>


            <!-- <div class="row"> -->

              <%= od.input_field :quantity, as: :string, disabled: true, label: false, label: false, class: 'input-move input-quantity text-center'  %>
              <div class="input-move-minus glyphicon glyphicon-minus" id="btn-down_<%= count %>"></div>
            <h5 id="food-price"><%= humanized_money_with_symbol(food.price) %></h5>
            <!-- </div> -->


          <!-- </div> -->
          <% end %>
          <%= cl_image_tag(food.photo, id: 'btn-up_' + count.to_s) %>
          </li>
          <% count += 1 %>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-12 col-md-6 col-sm-6">
      <%= cl_image_tag("beer_ohpxni.png", id: 'beverage', class: 'food-beverage') %>
      <ul class="list-inline" style="margin-top: 30px;">
        <% @beverages.each do |beverage| %>
          <li class="input-product subbeverage">
          <!-- <div class="col-xs-offset-3 col-xs-6"> -->
          <%= f.simple_fields_for :order_details do |od| %>
            <%= od.association :product, as: :hidden, input_html: { value: beverage.id }%>


            <%= od.input_field :quantity, as: :string, disabled: true, label: false, class: 'input-move input-quantity text-center' %>
            <div class="input-move-minus glyphicon glyphicon-minus" id="btn-down_<%= count %>"></div>
            <h5 id="bev-price"><%= humanized_money_with_symbol(beverage.price) %></h5>



          <!-- </div> -->
          <% end %>
          <%= cl_image_tag(beverage.photo, id: 'btn-up_' + count.to_s) %>
          </li>
          <% count += 1 %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row" id="buy-row" style="margin: 10px;">
    <div class="col-xs-4 text-left">
      <%= cl_image_tag('hot-dog_g6lflg.png',  :width=>50, :height=>50, :gravity=>'center', :crop=>'fill' , id: 'buyfood') %>
      <%= cl_image_tag('beer_ohpxni.png',  :width=>50, :height=>50, :gravity=>'center', :crop=>'fill' , id: 'buybev') %>
    </div>
    <div class="col-xs-4 col-xs-offset-4 text-right">
      <%= cl_image_tag('shopping-cart_dlwb4c.png',  :width=>50, :height=>50, :gravity=>'center', :crop=>'fill' , id: 'basket') %>
      <%= f.submit :submit, :type => :image, :src => "http://res.cloudinary.com/dr4xmxoal/image/upload/w_50,h_50,c_fill,g_center/like_mg2lbn.png", id: 'basket-ok', class: "" %>
    </div>
  </div>
</div>
<% end %>
