<!-- Page where all the information about a given order is displayed -->

<div class="container">
  <div class="row">

    <!-- Information displayed in different ways -->
    <div class="col-xs-12 col-sm-6">

      <!-- User info -->
      <div class="user-info">
        <h3>Resumo do Seu Pedido</h3>
        <p><b>Cliente:</b> <%= current_user.first_name %> <%= current_user.last_name %></p>
        <p><b>Assento: </b> <%= @order.customer_profile.seat_info_1 %> <%= @order.customer_profile.seat_info_2 %></p>
        <p><b>Status da Ordem:</b> <%= @order.status %></p>
      </div>

      <!-- Table with the order details -->
      <table class = "table">
        <tr>
          <th>Qtde </th>
          <th>Produto</th>
          <th>Preço Unitario</th>
          <th>Preço Total </th>
        </tr>
        <% @order_details.each do |ord| %>
          <tr>
            <td><%= ord.quantity %></td>
            <td><%= ord.product.name %></td>
            <td><%= humanized_money_with_symbol(ord.product.price)%></td>
            <td><%= humanized_money_with_symbol(ord.product.price * ord.quantity ) %></td>
          </tr>
        <% end %>
      </table>

      <!-- If the order status is "Pending", a button to pay it is displayed -->
      <!-- All trasaction is handled by Stripe -->
      <%= form_tag order_payments_path(@order) do %>
        <article>
          <label class="amount">
            <span>Total: <%= humanized_money_with_symbol(@order.amount) %></span>
          </label>
        </article>
        <% if @order.status == "Pendente"  %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="Mais Uma"
            data-email="<%= current_user.email %>"
            data-amount="<%= @order.amount_centavos %>"
            data-currency="<%= @order.amount.currency %>"></script>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
