<head><link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet"></head>

<div class="banner" style="padding-bottom: 200px; background-image: linear-gradient(320deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 80%), url('http://res.cloudinary.com/dr4xmxoal/image/upload/v1488814706/jairzinho-artilheiro_10tcy0jzcubmb12p8szmlq5tcg_cmutlh.jpg');">


  <div style="margin-top: 200px;" class="container text-center banner-content">
    <h1 style="margin-bottom: 90px; font-family: 'Chewy', cursive;">Goooooooaaaaaal!</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="banner-content">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputName2" placeholder="Where we are...">
            </div>
            <div class="form-group">
            <span type="submit" class="btn btn-default">Ir</span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div>
          <%= cl_image_tag("Capture_d_écran_2017-03-06_à_15.57.45_eq1l2q.png", class: 'img-responsive card') %>
          <div class="card-user">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488825799/vasco_yi6nxn.png" class="avatar">
          </div>
          <div class="card-user-left">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488825798/corinthians-hd-logo_gwyl6m.png" class="avatar">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div>
          <%= cl_image_tag("Capture_d_écran_2017-03-06_à_15.57.45_eq1l2q.png", class: 'img-responsive card') %>
          <div class="card-user">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488982065/gremio-hd-logo_utku6m.png" class="avatar">
          </div>
          <div class="card-user-left">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488982065/flamengo-hd-logo_n8qr76.png" class="avatar">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div>
          <%= cl_image_tag("Capture_d_écran_2017-03-06_à_15.57.45_eq1l2q.png", class: 'img-responsive card') %>
          <div class="card-user">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488982065/sao-paulo-hd-logo_sb0bqy.png" class="avatar">
          </div>
          <div class="card-user-left">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488982065/internacional-hd-logo_evnj3r.png" class="avatar">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div>
          <%= cl_image_tag("Capture_d_écran_2017-03-06_à_15.57.45_eq1l2q.png", class: 'img-responsive card') %>
          <div class="card-user">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488982065/cruzeiro-hd-logo_voqedg.png" class="avatar">
          </div>
          <div class="card-user-left">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488825799/criciuma-ec-hd-logo_vdgdsg.png" class="avatar">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div>
          <%= cl_image_tag("Capture_d_écran_2017-03-06_à_15.57.45_eq1l2q.png", class: 'img-responsive card') %>
          <div class="card-user">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488825798/fluminense-hd-logo_d826jp.png" class="avatar">
          </div>
          <div class="card-user-left">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488825798/figueirense-hd-logo_dnmvfg.png" class="avatar">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-sm-6">
        <div>
          <%= cl_image_tag("Capture_d_écran_2017-03-06_à_15.57.45_eq1l2q.png", class: 'img-responsive card') %>
          <div class="card-user">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488825798/ec-victoria-hd-logo_jrunlm.png" class="avatar">
          </div>
          <div class="card-user-left">
            <img src="http://res.cloudinary.com/dr4xmxoal/image/upload/v1488825799/esporte-clube-bahia-hd-logo_zdgp3h.png" class="avatar">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
