
<h1> <%= @event.home_team %> x <%= @event.away_team %> Revenue Generated</h1>
<h3>Total Revenue: <%= @total_revenue %></h3>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    //Change data to make it represent something
    var data = google.visualization.arrayToDataTable(<%= raw @orders_revenues %>);

    var options = {
      hAxis: {
        title: '<%= @orders_revenues[0][0] %>',
      },
      vAxis: {
        title: '<%= @orders_revenues[0][1] %>'
      },
      title: 'Overall Revenue Generated',
      curveType: 'function',
      legend: { position: 'none'},
      backgroundColor: '#F9DC5C',

    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart.draw(data, options);
  }
</script>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="curve_chart" style="margin: 50px auto;"></div>
    </div>
  </div>
</div>
