
<div class="container">
  <div class="row text-center" style="margin-top: 20px;">

    <div class="col-xs-12 col-md-6 col-sm-6">
      <%= cl_image_tag("hot-dog_g6lflg.png", class: 'food-beverage') %>
      <hr>
      <ul class="list-inline">
        <% @foods.each do |food| %>
          <li>
            <% eid = @event.nil? ? "" : @event.id %>
            <%= link_to food.name, product_path(food, event_id: eid), class: "btn other-button" %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-xs-12 col-md-6 col-sm-6">
      <%= cl_image_tag("beer_ohpxni.png", class: 'food-beverage') %>
      <hr>
      <ul class="list-inline">
        <% @beverages.each do |beverage| %>
          <li>
            <% eid = @event.nil? ? "" : @event.id %>
            <%= link_to beverage.name, product_path(beverage, event_id: eid), class: "btn other-button" %>
          </li>
        <% end %>
      </ul>
    </div>

    <%= link_to "Manager Home", partner_side_path, class: "btn custom-button", style: "margin-top: 80px; width: 30%" %>
  </div>
</div>
