
<div class="container">
  <div class="row text-center" style="margin-top: 20px;">
    <div class="col-xs-12 col-md-6 col-sm-6">
      <%= cl_image_tag("hot-dog_g6lflg.png", class: 'food-beverage') %>
      <ul class="list-inline">
        <% @foods.each do |food| %>
          <li><%= food.name %>
          <%= link_to "Detalhes", product_path(food), class: "btn btn-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-12 col-md-6 col-sm-6">
      <%= cl_image_tag("beer_ohpxni.png", class: 'food-beverage') %>
      <ul class="list-inline">
        <% @beverages.each do |beverage| %>
          <li><%= beverage.name %>
          <%= link_to "Detalhes", product_path(beverage), class: "btn btn-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
