<!DOCTYPE html>
<html>
  <head>
    <title>MAIS UMA</title>
    <link rel="shortcut icon" type="image/png" href="http://res.cloudinary.com/dr4xmxoal/image/upload/v1489000768/Screen_Shot_2017-03-08_at_16.19.09_k4zu9u.png">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700|Fascinate+Inline|Fredoka+One|Lemonada|Chewy|Monoton|Russo+One|Chelsea+Market|Coming+Soon|Permanent+Marker|Sigmar+One|Source+Code+Pro:900|Open+Sans+Condensed:300" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <div class="wrapper">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= content_for :manager_event %>
    <%= content_for :delivery_guy_refresh %>
    <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
  </body>
</html>


